<!DOCTYPE html>
<html>
	<head>
	<title>フォトット − 新規登録</title>
	{% include 'parts/head.html' %}

</head>
<body>
        {% include 'parts/header.html' %}
				<h2>新規登録</h2>
					<form action="/userSignUpDo/" method="post" name=registform>
						{% csrf_token %}
						<dl class="form-groupe">
							<dt >メールアドレス<span >※必須</span></dt>
							<dd ><input size="50" name="mail_address" type="email" value="" required></dd>
							<dt >ユーザーネーム<span >※必須</span></dt>
							<dd ><input name="user_name" size="30" type="text" value="" required/></dd>
							<dt >パスワード<span >※必須</span></dt>
							<dd ><input name="password" type="password" size="30" minlength="8" value="" required/></dd>
						</dl>
                        <br>
						<p ><button type="submit"  name="submit_btn">確認</button></p>
					</form>

					{% include 'parts/footer.html' %}
	</body>
</html>